*.suo
*.user
*.userosscache
*.sln.docstates

packages/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]ogs/
*/cache/
*/Logs/
*/NuGetBackup/
*/packages/
*/TEMP/
.vs/
umbraco.config
# Web workbench (sass)
.sass-cache/

NuGetBackup/