@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    color: #2a3237;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.parallax {
    position: absolute;
    overflow: hidden;
    width: 100%;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

    .parallax img {
        width: 100%;
        height: 100%;
    }
/* Preloader */

.preloader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: white;
}

    .preloader img {
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 32px);
    }

    .preloader div {
        display: none;
        /* Preload the Second Pricing Image */
        background: url(../img/pricing2.jpg) no-repeat 9999px 9999px;
        background-position: 9999px 9999px;
    }

/* Typography */

p {
    font-size: 18px;
    line-height: 1.5;
    color: #8a8e91;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', 'Avenir Next', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    position: relative;
    margin: 10px 0;
}

h1 {
    font-size: 60px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(28, 36, 65, 0.93);
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

ul.white-list {
    padding: 0;
    list-style-type: none;
}

    ul.white-list li {
        font-size: 18px;
        margin: 10px 0;
        color: #fff;
    }

        ul.white-list li:before {
            content: ' ';
            position: relative;
            top: -3px;
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 15px;
            background: white;
        }

header {
    position: relative;
    width: 100%;
    color: white;
    background: rgba(28, 36, 65, 0.93);
    background: url('../img/header.jpg');
    background-size: cover;
}

    header .table {
        display: table;
        height: 100%;
    }

    header .container {
        height: 100%;
    }

    header .header-text {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: white;
    }

    header .typed {
        display: inline-block;
        margin: 0;
    }

    header .typed-cursor {
        font-size: 60px;
        display: inline-block;
        margin: 0 10px;
        color: #2b334d;
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

a {
    text-decoration: none;
    color: #2b334d;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/* Navigation Bar ( Navbar ) */

nav.navbar {
    position: absolute;
    z-index: 9500;
    width: 100%;
    width: 100vw;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    nav.navbar .navbar-nav li.active a:not(.btn) {
        color: #2b334d !important;
    }

nav.navbar-fixed-top {
    z-index: 9499;
    top: 0;
    padding: 5px 0;
    opacity: 0;
    background: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.05);
}

    nav.navbar-fixed-top .navbar-nav > li > a:not(.btn) {
        color: #bbb;
    }

.icon-bar {
    background: #bbb;
}
/* Buttons */

.btn {
    font-size: 18px;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    border: 2px solid transparent;
    border-radius: 2px;
    background: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .btn:hover,
    .btn:focus {
        color: white;
    }

    .btn.btn-blue {
        background: #2b334d;
    }

        .btn.btn-blue:hover {
            background: #31b9ff;
        }

    .btn.btn-blue-fill {
        color: #2b334d;
        border-color: #2b334d;
        background: transparent;
    }

        .btn.btn-blue-fill:hover {
            color: white;
            background: #2b334d;
        }

    .btn.btn-white-fill {
        color: #fff;
        border-color: #fff;
        background: transparent;
    }

        .btn.btn-white-fill:hover {
            color: #2b334d;
            background: #fff;
        }

    .btn.btn-gray-fill {
        color: #fff;
        border-color: #fff;
        background: transparent;
    }

        .btn.btn-gray-fill:hover {
            border-color: #bbb;
            background: #bbb;
        }

/* Blink Cursor */

.blink {
    position: relative;
    top: 4px;
    display: inline-block;
    width: 4px;
    height: 50px;
    height: 5vh;
    margin: 0 10px;
}

.navbar {
    top: 50px;
}

.container {
    position: relative;
    z-index: 1;
}
/* Sections */
section {
    position: relative;
}

.section {
    padding: 40px 0;
    background: #fff;
}

.section-padded {
    padding: 140px 0 40px;
}

.cut-top {
    content: ' ';
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    width: 0;
    height: 0;
    border-top: 80px solid transparent;
    border-right: 30px solid white;
}

.cut-bottom {
    content: ' ';
    position: absolute;
    z-index: 1;
    bottom: -80px;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 80px solid transparent;
    border-left: 30px solid white;
}

.intro-tables {
     position: relative;
}

.intro-table {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: 0% 0%;
}

.intro-table-first {
    background-image: url('../img/table-1.jpg');
}

.intro-table-hover {
    -webkit-transition: background-image 0.3s ease, background-position 0.3s;
    transition: background-image 0.3s ease, background-position 0.3s;
    background-image: url('../img/table-2.jpg');
}

    .intro-table-hover h4 {
        -webkit-transform: translateY(170px);
        transform: translateY(170px);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }

    .intro-table-hover:hover {
        background-image: url('../img/table-2-hover.jpg');
        background-position: 50% 50%;
    }

.intro-table-third {
    background-image: url('../img/table-3.jpg');
}

.intro-table-hover .expand {
    margin: 30px;
    margin-top: 120px;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s ease, opacity 0.3s;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
}

.intro-table-hover:hover h4 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.intro-table-hover:hover .expand {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.intro-table-hover .hide-hover {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
    opacity: 0;
}

.intro-tables .intro-table {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0;
}

    .intro-tables .intro-table .heading {
        margin: 0;
        padding: 30px;
    }

    .intro-tables .intro-table .small-heading {
        margin: 0;
        padding: 0 30px;
    }

    .intro-tables .intro-table .bottom {
        position: absolute;
        bottom: 0;
    }

    .intro-tables .intro-table .owl-schedule .schedule-row {
        padding: 10px 30px;
        color: white;
        transition: all 0.3s ease;
    }

.owl-schedule .schedule-row:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.owl-testimonials .author {
    margin-top: 50px;
}

.ripple-effect {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    -webkit-animation: ripple-animation 2s;
    animation: ripple-animation 2s;
}

@-webkit-keyframes ripple-animation {
    from {
        opacity: 0.2;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(100);
        transform: scale(100);
    }
}

@keyframes ripple-animation {
    from {
        opacity: 0.2;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(100);
        transform: scale(100);
    }
}

.services {
    margin: 40px 0;
}

.service {
    width: 100%;
    height: 320px;
    margin: 80px 0;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .service .icon-holder {
        position: relative;
        top: 100px;
        display: inline-block;
        margin-bottom: 40px;
        padding: 10px;
        background: white;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .service .heading {
        position: relative;
        top: 80px;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .service .icon-holder > img.icon {
        width: 40px;
    }

    .service:hover {
        border-color: #2b334d;
    }

        .service:hover .icon-holder {
            top: -30px;
        }

        .service:hover .heading {
            top: -30px;
        }

    .service .description {
        width: 80%;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    .service:hover .description {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

.team {
    margin: 80px 0;
    padding-bottom: 60px;
    background: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.07);
}

    .team .cover .overlay {
        height: 250px;
        padding-top: 60px;
        opacity: 0;
        background: rgba(0, 168, 255, 0.9);
        -webkit-transition: opacity 0.45s ease;
        transition: opacity 0.45s ease;
    }

    .team:hover .cover .overlay {
        opacity: 1;
    }

    .team .avatar {
        position: relative;
        z-index: 2;
        margin-top: -60px;
        border-radius: 50%;
    }

    .team .title {
        margin: 50px 0;
    }
/* Pricing */

#pricing {
    background: #2b334d url('../img/p1.jpg') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: background-image 0.6s linear 0.3s;
    transition: background-image 0.6s linear 0.3s;
}

.owl-pricing img {
    width: 100%;
}

.owl-pricing,
.pricings {
    margin-top: 100px;
    margin-bottom: 100px;
}

.pricing {
    position: relative;
    width: 100%;
}

.pricings .pricing .box-main,
.pricings .pricing .box-second {
    position: relative;
    left: 25%;
    display: inline-block;
    width: 50%;
    height: 300px;
    padding: 50px 40px;
    background: #bbb;
    -webkit-transition: -webkit-transform 0.3s, background-image 0.3s, opacity 0.3s;
    transition: transform 0.3s, background-image 0.3s, opacity 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pricings .pricing .box-main {
    z-index: 10;
    padding-top: 40px;
}

    .pricings .pricing .box-main:not(.active) {
        cursor: pointer;
    }

    .pricings .pricing .box-main .info-icon {
        font-size: 14px;
        position: absolute;
        top: 20px;
        right: 20px;
        pointer-events: none;
        opacity: 0;
        color: #fff;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }

    .pricings .pricing .box-main:not(.active) .info-icon {
        opacity: 1;
        -webkit-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }

    .pricings .pricing .box-main:not(.active):hover {
        background: #afafaf;
    }

    .pricings .pricing .box-main.active {
        background: #2b334d;
        -webkit-transform: translateX(-99%);
        -ms-transform: translateX(-99%);
        transform: translateX(-99%);
    }

.pricings .pricing .box-second {
    position: absolute;
    top: 0;
    right: 0% !important;
    left: auto;
    opacity: 0;
    background: #afafaf;
}

    .pricings .pricing .box-second.active {
        opacity: 1;
        background: #2b334d;
    }

.pricings .pricing.active .box-main,
.pricings .pricing .box-second {
    background: #2b334d;
}

.pricings .pricing .box-main a.btn {
    margin-top: 50px;
}

.owl-twitter i.icon {
    font-size: 36px;
    margin-bottom: 60px;
    color: white;
}
/* Footer */

footer {
    padding: 140px 0 40px;
    background-color:#2b334d;
    -webkit-background-size: cover;
    background-size: cover;
}

    footer .trial-button {
        overflow: hidden !important;
        margin: 40px 0;
    }

    footer .close-blink {
        content: ' ';
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 20px;
        border-radius: 50%;
        background-color: #ca0303;
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

    footer .close-blink:before {
            content: ' ';
            position: absolute;
            top: -8px;
            left: -8px;
            display: inline-block;
            width: 30px;
            height: 30px;
            opacity: 0.1;
            border-radius: 50%;
            background-color: #ca0303;
        }

    footer .open-blink {
        content: ' ';
        position: relative;
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 20px;
        border-radius: 50%;
        background-color: #4caf50;
        -webkit-animation-name: flash;
        animation-name: flash;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

        footer .open-blink:before {
            content: ' ';
            position: absolute;
            top: -8px;
            left: -8px;
            display: inline-block;
            width: 30px;
            height: 30px;
            opacity: 0.1;
            border-radius: 50%;
            background-color: #4caf50;
        }

    footer .opening-hours {
        margin-top: 60px;
    }

    footer .bottom-footer {
        margin-top: 150px;
    }

    footer .social-footer {
        padding: 0;
        list-style: none;
    }

        footer .social-footer li {
            display: inline-block;
            margin: 0 10px;
        }

            footer .social-footer li a {
                font-size: 24px;
                color: #fff;
            }

            footer .social-footer li:hover a {
                color: #2b334d;
            }
/* Form Control */

.form-control {
    font-size: 18px;
    position: relative;
    left: 0;
    height: auto;
    padding: 20px 30px;
    border: 1px;
    border-radius: 0;
    box-shadow: 0;
}

    .form-control.form-white {
        color: #fff;
        border: 2px solid white;
        background: transparent;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }

        .form-control.form-white::-webkit-input-placeholder {
            /* WebKit browsers */
            color: #fff;
        }

        .form-control.form-white:-moz-placeholder {
            opacity: 1;
            /* Mozilla Firefox 4 to 18 */
            color: #fff;
        }

        .form-control.form-white::-moz-placeholder {
            opacity: 1;
            /* Mozilla Firefox 19+ */
            color: #fff;
        }

        .form-control.form-white:-ms-input-placeholder {
            /* Internet Explorer 10+ */
            color: #fff;
        }

        .form-control.form-white:focus {
            background: rgba(255,255,255,0.2);
        }

/* Popup */
.modal {
    padding: 0 25px !important;
}

.modal-dialog {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
}

.modal-popup {
    position: relative;
    padding: 45px 30px;
    text-align: center;
    background: #2b334d;
    box-shadow: none;
    border-radius: 2px;
}

    .modal-popup a.close-link {
        font-size: 22px;
        position: absolute;
        top: 20px;
        right: 30px;
        color: #fff;
    }

.popup-form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
}

    .popup-form .form-control {
        margin: 20px 0;
    }

        .popup-form .form-control.dropdown {
            text-align: left;
        }

            .popup-form .form-control.dropdown:after {
                content: '\f0d7';
                font-family: 'FontAwesome';
                display: inline-block;
                float: right;
                color: white;
            }

    .popup-form .dropdown .dropdown-menu {
        top: 65px;
        width: 100%;
        padding: 0;
        border: 2px solid white;
        border-top: 0;
        border-radius: 0;
        background: white;
        box-shadow: none;
    }

        .popup-form .dropdown .dropdown-menu li {
            font-size: 16px;
            width: 100%;
            background: transparent;
        }

            .popup-form .dropdown .dropdown-menu li a {
                width: 100%;
                padding: 15px 30px;
                color: #2b334d;
            }

            .popup-form .dropdown .dropdown-menu li:hover a {
                color: #fff;
                background: #2b334d;
            }

/* Checkbox */

.checkbox-holder {
    white-space: nowrap;
}

.checkbox {
    position: relative;
    display: block;
}

.checkbox {
    position: relative;
}

    .checkbox label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: 2px solid white;
        background: transparent;
        -webkit-transition: background-color 0.3s;
        transition: background-color 0.3s;
    }

    .checkbox input[type=checkbox]:focus + label:before {
        background: rgba(255,255,255,0.2);
    }

    .checkbox label:after {
        content: '';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 8px;
        height: 8px;
        opacity: 0;
        background: white;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    .checkbox input[type=checkbox] {
        opacity: 0;
        position: absolute;
        width: 0;
        height: 0;
    }

        .checkbox input[type=checkbox]:checked + label:after {
            opacity: 1;
        }

.checkbox-holder span {
    position: relative;
    display: inline-block;
    margin: 0 0 0 10px;
    white-space: normal;
    color: #fff;
}

.btn.btn-submit {
    width: 100%;
    margin-top: 30px;
    color: #2b334d;
    border: 2px solid #fff;
    background: #fff;
}

    .btn.btn-submit:focus {
        font-weight: bold;
    }

    .btn.btn-submit:hover {
        color: #2b334d;
        background: #fff;
    }

/* Mobile Nav */
.mobile-nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    background: rgba(255, 255, 255, 0.98);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

    .mobile-nav.active {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .mobile-nav ul {
        display: table-cell;
        padding: 0;
        list-style: none;
        vertical-align: middle;
    }

        .mobile-nav ul li {
            margin: 25px 0;
        }

            .mobile-nav ul li a:not(.btn) {
                color: #aaa;
            }

    .mobile-nav a.close-link {
        font-size: 24px;
        position: absolute;
        bottom: 0px;
        left: calc(50% - 10px);
        left: 0;
        width: 100%;
        padding: 15px 0;
        color: #fff;
        background: #2b334d;
    }

.row.title {
    padding: 0 20px;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: bold;
}
/* Colors */

.white {
    color: white;
}

.light-white {
    color: rgba(255, 255, 255, 0.5);
}

.white-bg {
    background: white;
}

.gray-bg {
    background: #f7f7f7;
}

.blue {
    color: #2b334d;
}

.blue-bg {
    background: #2b334d;
}

.muted {
    color: #989da0;
}

.margin-top {
    margin-top: 150px;
}

@media(max-width:992px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 12px;
    }

    .section {
        padding: 30px 0;
    }
}

/* Media Queries */

@media(max-width:991px) {
    .text-center-mobile {
        text-align: center !important;
    }
}

@media(max-width: 768px) {
    #phone1-id{
        display:none;
    }
    .pricing {
        margin-bottom: 30px;
    }

    .pricings .pricing .info-icon {
        display: none;
    }

    .pricings .pricing .box-main,
    .pricings .pricing .box-second {
        left: 0;
        width: 100%;
        padding: 50px 50px 0;
        text-align: left;
        background: #2b334d;
    }

        .pricings .pricing .box-main.active {
            background: #2b334d;
            -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
            transform: translateX(0%);
        }

    .pricings .pricing .box-second {
        position: relative;
        opacity: 1;
    }

    .popup-form {
        width: 100%;
        margin: 60px auto;
    }

    .modal {
        padding: 0 10px !important;
    }

    .popup-form .form-control:not(.dropdown):focus {
        position: relative;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media(max-width: 400px) {
    header .typed-cursor {
        display: none;
    }

    .pricings .pricing .box-second {
        padding-top: 0;
    }
}

#footer {
    background: #2b334d none repeat scroll 0 0;
    bottom: 0;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

#footer > .contacts-phone {
    color: #fff;
    font-size: 12pt;
    margin-top: 9px;
    position: absolute;
    right: 20px;
    float: left;
    text-align: right;
}

.error-input{
    border: solid 2px #FF0000 !important;  
}

.hidden{
    display:none;
}

.content-wrapper {
    flex: 1 0 auto;
    padding-bottom: 70px;
}
.inverse-wrapper {
    background: #1e1e1e;
}
.inverse-wrapper h1,
.inverse-wrapper h2,
.inverse-wrapper h3,
.inverse-wrapper h4,
.inverse-wrapper h5,
.inverse-wrapper h6 {
    color: #fff
}
.inverse-wrapper,
.inverse-wrapper p,
.inverse-wrapper a {
    color: #fff !important;
}
.inverse-wrapper .meta {
    color: #ddd;
}
Fotorama 4.6.4 | http://fotorama.io/license/
 */
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__nav__frame,.fotorama__thumb-border{box-sizing:content-box}.fotorama__caption__wrap{box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama.html) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama%402x.html) 0 0/96px 160px no-repeat}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}@media print{.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child){display:none}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.25),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:2px;background-position:0 0}.fotorama__arr--next{right:2px;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}
/*-----------------------------------------------------------------------------------*/
/*	06. FOTORAMA
/*-----------------------------------------------------------------------------------*/
.lg-outer .lg-item:after,
.fotorama__wrap--css3 .fotorama__spinner {
    content: "";
    height: 34px !important;
    width: 34px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17px;
    margin-left: -17px;
    background-color: transparent;
    -webkit-transform: translateZ();
    transform: translateZ();
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-name: rotation;
    animation-name: rotation;
    border-radius: 100%;
    background: none;
}
.cbp:after,
.cbp-lazyload:after,
.cbp-popup-loadingBox:after,
.cbp-popup-singlePageInline:after {
    border-left: 3px solid rgba(28, 28, 28, 0.08);
    border-right: 3px solid rgba(28, 28, 28, 0.08);
    border-bottom: 3px solid rgba(28, 28, 28, 0.08);
    border-top: 3px solid #e96161;
}
.lg-outer .lg-item:after,
.fotorama__wrap--css3 .fotorama__spinner {
    border-left: 3px solid rgba(80, 80, 80, 0.2);
    border-right: 3px solid rgba(80, 80, 80, 0.2);
    border-bottom: 3px solid rgba(80, 80, 80, 0.2);
    border-top: 3px solid #e96161;
}
.fotorama__wrap {
    margin: 0 auto;
}
.fotorama__stage {
    height: calc(100vh - 142px) !important;
}
.post .fotorama-wrapper {
    background: none
}
.fotorama__spinner {} .fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-close,
.fotorama__video-play {
    background: none;
    font-family: "Ionicons";
}
@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 2dppx) {
    .fotorama__arr,
    .fotorama__fullscreen-icon,
    .fotorama__video-close,
    .fotorama__video-play {
        background: none
    }
}
.fotorama__arr--prev {
    left: 20px
}
.fotorama__arr--next {
    right: 20px
}
.fotorama__arr--prev,
.fotorama__arr--next {
    border-radius: 0;
    width: auto !important;
    height: auto !important;
    line-height: normal !important;
    padding: 0;
    background: none;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
    transition: all 200ms ease-in !important;
}
.fotorama__arr--prev:hover,
.fotorama__arr--next:hover {
    color: rgba(255, 255, 255, 1);
}
.fotorama__arr--disabled {
    color: rgba(255, 255, 255, 0.2);
    opacity: 1;
}
.fotorama__arr--prev:before {
    display: block;
    content: '\f3d2';
}
.fotorama__arr--next:before {
    display: block;
    content: '\f3d3';
}
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus),
.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus) {
    -webkit-transform: none;
    transform: none;
}
.fotorama__nav--thumbs .fotorama__nav__frame {
    padding: 0 !important;
    margin: 6px 3px 6px!important;
}
.fotorama__thumb-border {
    display: none;
}
.fotorama__caption {
    font: inherit;
    line-height: inherit;
    display: inline-block;
    bottom: 30px;
    font-weight: normal;
    color: #404040;
    text-align: center;
}
.fotorama__nav__frame.fotorama__nav__frame--thumb.fotorama__active:before {
    border: 2px solid #e96161;
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.fotorama__caption__wrap {
    background: rgba(255, 255, 255, 0.9);
    padding: 7px 12px 6px;
}
.fotorama__nav:before,
.fotorama__stage:before,
.fotorama__nav:after,
.fotorama__stage:after {
    background: none !important;
}